<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script th:replace="fragments/header :: header"></script>
    <title>AddressBook</title>
</head>
<div th:replace="fragments/navbar :: navbar"></div>
<body>
<div class="row">
    <div class="message">
        <h1 class="alert alert-info" th:text="${message}"></h1>
    </div>
</div>
<div th:replace="fragments/content :: footer"></div>
</body>
</html>